<div #mapContainer id="map">
  <div id="toolbar">
    <app-draw-parcel></app-draw-parcel>        <!-- izris ikone za parcele na karto-->
    <app-draw-road></app-draw-road>              <!-- izris ikone za cesto na karto  -->
    <app-draw-address></app-draw-address>     <!-- izris ikone za naslov na karto -->
    <app-draw-building></app-draw-building>  <!-- izris ikone za stavbo na karto  -->
    <app-layer-import></app-layer-import>      <!-- izris ikone za uvoz sloja      -->
  </div>
</div>
