  <div class="kontrolna-vrstica">
  <div class="izbira-del">
    <INPUT type="radio" id="all" name="izbira" value="all" checked (click)="setIzbira('all')">  
    <label for="all">Select All</label> 
    &nbsp; &nbsp; &nbsp;
    <INPUT type="radio" id="one" name="izbira" value="one" (click)="setIzbira('one')"> 
    <label for="one">Select One</label> 
    &nbsp; &nbsp; &nbsp;
    <label for="fname">ID:</label>
    <input type="text" id="e_izb" name="e_izb" size="3" [value]="inputId" (input)="onInputIdChange($event)">
  </div>
  <div class="iskanje-del">
    <label for="fiu">Filtriranje zapisov: Ime ulice/ceste: </label>
    <input type="text" id="fiu" name="flu" size="25" [(ngModel)]="filterImeUlice" placeholder="Ime ulice">
    <button type="button" class="btn btn-primary btn-sm me-1" (click)="filtrirajImeUlice()">Filtriraj</button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="clearFilter()">Počisti</button>
    
    <span *ngIf="filtriranArray.length > 0 && filterImeUlice" style="margin-left: 10px; font-weight: bold;">
      Najdenih: {{ filtriranArray.length }}
    </span>
  </div>
</div> 

<div class="scrollable-table" #scrollContainer>          
  <table class="table table-sm" style="--bs-table-cell-padding-y:0.1rem; --bs-table-cell-padding-x:0.25rem;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col" style="width: 240px;">Ime ulice</th>
        <th scope="col" style="width: 250px;">Upravljalec</th>
        <th scope="col" style="width: 250px;">Vzdrževalec</th>
        <th scope="col">Dolžina</th>
        <th scope="col">Geom WKT</th>
        <th scope="col">Akcija</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let road of filtriranArray" [class.selected]="isRoadSelected(road.id)">
        <td>
          <a href="#" (click)="drawRoadGeometry(road); $event.preventDefault()">{{ road.id }}</a>
        </td>
        <td style="white-space: nowrap;">{{road.str_name}}</td>
        <td style="white-space: nowrap;">{{road.administrator}}</td>
        <td>{{road.maintainer}}</td>
        <td>{{road.length}}</td>
        <td>{{road.geom_wkt}}</td>
        <td style="white-space: nowrap; width: 120px;">
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-success btn-sm me-1" (click)="setUpdate(road)">Uredi</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="setDelete(road)">Briši</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table> 
</div>