<!--
Icon list:
https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/
-->


@if (drawMode) {
    <button 
        mat-button 
        (click)="toggleDrawMode()" 
        matTooltip="Stop drawing road">
        <mat-icon>clear</mat-icon>
    </button>
} @else {
    <button 
        mat-button 
        (click)="toggleDrawMode()" 
        [disabled]="!canDraw"         
        matTooltip="Start drawing road">
        <mat-icon>timeline</mat-icon>
    </button>


    <!--  Tu se začne dogodek za izbiro ceste ob pritisku na gumb za izbiranje ceste,  -->    
    <!--  Nadaljuje se z SelectRoad() funkcijo, 4 vrstice dol Ta je v draw-road.component.ts vrstica 73-->
    <button 
        id="select-road"
        mat-button 
        (click)="selectRoad()" 
        [disabled]="!canDraw || drawMode"
        [matTooltip]="selectMode ? 'Stop selecting roads' : 'Select a road'">
        <mat-icon>{{ (!canDraw || drawMode) ? 'near_me' : (selectMode ? 'select_all' : 'near_me') }}</mat-icon>
    </button>

    <button 
        id="edit-road"
        mat-button 
        (click)="editRoad()" 
        [disabled]="!canDraw || drawMode"
        [matTooltip]="editMode ? 'Stop editing roads' : 'Edit a road'">
        <mat-icon>{{ (!canDraw || drawMode) ? 'create' : (editMode ? 'done_outline' : 'create') }}</mat-icon>
    </button>
}




